<h2>{{selectedRoom.name}}</h2>
<h3>{{selectedRoom.location}}</h3>

<form [formGroup]="chemicalsForm" class="form-container">
  <label for="name" class="label-name">Name</label>
  <input type="text" name="name" class="form-control text-name" formControlName="name" >
  <label for="tradeName" class="label-tradename">Trade Name</label>
  <input type="text" name="tradeName" class="form-control text-tradename" formControlName="tradeName" >
  <label for="description" class="label-desc">Description</label>
  <input type="text" name="description" class="form-control text-desc" formControlName="description" >
  <label for="quantity" class="label-qty">Quantity</label>
  <input type="text" name="quantity" class="form-control text-qty" formControlName="quantity" >
  <label for="unitOfMeasure" class="label-uom">Unit Of Measure</label>
  <input type="text" name="unitOfMeasure" class="form-control text-uom" formControlName="unitOfMeasure" >
  <label for="cabinet" class="label-cabinet">Cabinet</label>
  <input type="text" name="cabinet" class="form-control text-cabinet" formControlName="cabinet">
  <button class="btn btn-primary" (click)="onAdd()" [disabled]="selectedChemical !== -1">Add</button>
  <button class="btn btn-primary" (click)="onRemove()" [disabled]="selectedChemical === -1">Remove</button>
  <button class="btn btn-primary" (click)="onEdit()" [disabled]="selectedChemical === -1">Edit</button>
  <button class="btn btn-primary" (click)="onDataSave()" >Save Data</button>
  <button class="btn btn-primary" (click)="onDataFetch()" >Load Data</button>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let chemical of chemicals;let i = index"
      (click)="onSelect(i)">
      {{ chemical.name }} - {{ chemical.cabinet }}
    </li>
  </ul>
</form>

 